<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <title>Document</title>
</head>

<body>

  <header class="cabecalho">

    <nav class="navegacao-caixa">
      <img class="catimg" src="/assets/img/cat.png" width="70px" height="70px" alt="cat">
      <nav class="navegacao">
        <a href="#" class="">Casino</a>
        <a href="#" class="">Casino Ao Vivo</a>
        <a href="#" class="">Promoções</a>
        <a href="#" class="">Blog</a>
      </nav>
    </nav>

    <nav class="navbar">
      <nav class="icons">
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-whatsapp"></i></a>
      </nav>
      <nav class="logins">
        <a href="">Entrar</a>
        <a href="">Registro</a>
      </nav>
    </nav>

  </header>

  {{{body}}}

  <footer>

     <div class="informacoes1">
        <aside class="info1">
           <a href="">Quem somos</a>
           <a href="">Entre em contato</a>
           <a href="">Segurança</a>
        </aside>
        <aside class="info2">
           <a href="">Política de Privacidade</a>
           <a href="">Jogo Responsavel</a>
           <a href="">Termos e Codições</a>
        </aside>
        <aside class="info3">
           <a href="">Blog</a>
           <a href="">Promoções</a>
           <a href="">Cansino ao Vivo</a>
           <a href="">casino</a>
        </aside>
     </div> 
     <hr>
     <div class="informacoes2">
         <img src="" alt="Brasil">
         <h3>Brasileiro Nato</h3>
         <img src="" alt="maior de 18">
     </div>
     <hr>
     <div class="informacoes3">
        <img src="" alt="pix">
        <img src="" alt="google play">
     </div>

  </footer>
</body>
</html>