<link rel="stylesheet" href="/css/slides.css">

<section class="slider">

    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">


        <div class="slide first">
            <img src="https://img.freepik.com/vetores-gratis/fundo-do-casino-realista_52683-8812.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1697932800&semt=ais"
                alt="imagem 1" />
        </div>
        <div class="slide">
            <img src="https://images.unsplash.com/photo-1596838132731-3301c3fd4317?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y2FzaW5vfGVufDB8fDB8fHww"
                alt="imagem 2" />
        </div>
        <div class="slide">
            <img src="https://img.freepik.com/fotos-gratis/ilustracao-3d-de-banner-de-pano-de-fundo-de-jogos-de-cassino-com-elementos-de-cassino-craps-roleta-e-cartas-de-poquer-generativas-ai_91128-2286.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698278400&semt=sph"
                alt="imagem 3" />
        </div>
        <div class="slide">
            <img src="https://media.gettyimages.com/id/522114500/pt/foto/casino-roulette-with-ball-on-number-23.jpg?s=612x612&w=gi&k=20&c=U7j_RfFN5ZynnR4qZvD1hef2NUkA1NWBoUCR_zMN5xA="
                alt="imagem 4" />
        </div>

        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
        </div>
    </div>

    <div class="manual-navigation">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
    </div>
</section>

 <header class="cabecalho-navegacao">
    <h3>Casino</h3>
     <div class="caixa-naveLr">
        <i class="bi bi-arrow-left-short ant"></i>
          <aside class="naveLr">
              <a href="#">Em Alta</a>
              <a href="#">Novidades</a>
              <a href="#">Dia das Bruxas</a>
          </aside>
        <i class="bi bi-arrow-right-short pro"></i>
     </div>
     
     <div class="buscar-control">
        <form class="buscar-form" action="" method="get">
            <input type="text" placeholder="Buscar..">
        </form>
        <button class="btn-lupa"><i class="bi bi-search"></i></button>
     </div>
 </header>

<main>
    <section>

    </section>
</main>

<script src="/js/img.js"></script>